<div id="container">
  <swiper #swiper [config]="config">

    <ng-template swiperSlide>
     <img src="assets/pt2.jpg" alt="">
     <div class="caption">
       <h1>Welcome to BMF</h1>
       <p>Discover your power through online coaching</p>
     </div>
   </ng-template>

  <ng-template swiperSlide>
     <img src="assets/sliderImg2.jpg" alt="">
     <div class="caption">
       <h1>Nutrition Programs</h1>
       <p>The food we eat plays a vital role in how we look and feel.</p>
     </div>
   </ng-template>

   <ng-template swiperSlide>
     <img src="assets/sliderImg3.jpg" alt="">
     <div class="caption">
       <h1>Group training</h1>
       <p>Bring a friend and have a session together!</p>
     </div>
   </ng-template>

 </swiper>
</div>
