<div id="carousel-container">
  <swiper #swiper [config]="config">
   <ng-template swiperSlide>
      <div class="Slide1">
        <div class="slide-text">
        <h1>Welcome to BMF</h1>
       <p>Discover your power through online coaching</p>
        </div>
      </div>
</ng-template>

<ng-template swiperSlide>
    <div class="Slide2">
      <div class="slide-text">
        <h1>Nutrition Programs</h1>
        <p>The food we eat plays a vital role in how we look and feel.</p>
      </div>
    </div>
</ng-template>

<ng-template swiperSlide>
  <div class="Slide3">
    <div class="slide-text">
      <h1>Group training</h1>
      <p>Bring a friend and have a session together!</p>
    </div>
  </div>
</ng-template>

 </swiper>
</div>
