<div class="container">
  <h1>Register</h1>
  <div class="form_container">
    <form class="Register">

      <div class="register_field">
        <ion-icon class="reg_icon" name="person"></ion-icon>
        <input type="text" class="register_input" placeholder="First Name">
      </div>

      <div class="register_field">
        <ion-icon class="reg_icon" name="person"></ion-icon>
        <input type="text" class="register_input" placeholder="Last Name">
      </div>

      <div class="register_field">
        <ion-icon class="reg_icon" name="mail"></ion-icon>
        <input type="email" class="register_input" placeholder="Email">
      </div>

      <div class="register_field">
        <ion-icon class="reg_icon" name="lock-closed"></ion-icon>
        <input type="password" class="register_input" placeholder="Password">
      </div>

      <div class="register_field">
        <ion-icon class="reg_icon" name="lock-closed"></ion-icon>
        <input type="password" class="register_input" placeholder="Re-type Password">
      </div>


      <button class="button reg_submit">
        <span class="button_text">Register</span>
      </button>
    </form>

  </div>

</div>
