<div id="testimonial-container">
  <swiper #swiper [config]="config">
   <ng-template swiperSlide>
    <div class="slide">
      <div class="test-card">
        <div class="testimonial">
          <h1>Kathleen Moore</h1>
          <p>
            &ldquo;
            I started Fitness Within’s Remote Coaching over 2 months ago.
            I have lost some weight, gotten on a healthy exercise and meal schedule and feel great about myself.
            The workouts kick your butt.
            I love that I can see how I’m increasing my endurance by being able to do the videos online multiple times.
            Nat is always there for me.
            &rdquo;
          </p>
        </div>
      </div>
      </div>
</ng-template>

<ng-template swiperSlide>
  <div class="slide">
    <div class="test-card">
      <div class="testimonial">
        <h1>Kathleen Moore</h1>
        <p>
          &ldquo;
          I started Fitness Within’s Remote Coaching over 2 months ago.
          I have lost some weight, gotten on a healthy exercise and meal schedule and feel great about myself.
          The workouts kick your butt.
          I love that I can see how I’m increasing my endurance by being able to do the videos online multiple times.
          Nat is always there for me.
          &rdquo;
        </p>
      </div>
    </div>
    </div>
</ng-template>

<ng-template swiperSlide>
  <div class="slide">
    <div class="test-card">
      <div class="testimonial">
        <h1>Kathleen Moore</h1>
        <p>
          &ldquo;
          I started Fitness Within’s Remote Coaching over 2 months ago.
          I have lost some weight, gotten on a healthy exercise and meal schedule and feel great about myself.
          The workouts kick your butt.
          I love that I can see how I’m increasing my endurance by being able to do the videos online multiple times.
          Nat is always there for me.
          &rdquo;
        </p>
      </div>
    </div>
    </div>
</ng-template>

 </swiper>
</div>