<ion-header [translucent]="false">
  <ion-toolbar>

    <ion-title>
      <img src="assets/logo.png" alt="" class="logoImg">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click) = "goToInstagram()">
        <ion-icon slot="start" name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="start" name="logo-snapchat"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- #region Image Slide Component -->
    <app-carousel></app-carousel>
<!-- #endregion -->

<!-- #region About section -->
  <div class="abt-con container">
    <div class="abt-grid">
      <div class="grid-items">
        <div class="border"></div>
       <h1>About us</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Tenetur debitis fuga quia eos, voluptatem error rem eligendi quod quam,
      quis quae voluptates, dolorem pariatur dolore labore consequuntur.
    </p>

    <div class="grid-items">
      <!-- <img class="img-bmf-founder" src="assets/mrBmf.jpeg" alt="Founder & Personal trainer"/> -->
      <img class="img-bmf-founder"src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairShavedSides&accessoriesType=Blank&facialHairType=BeardMajestic&facialHairColor=Red&clotheType=Overall&clotheColor=Black&eyeType=Close&eyebrowType=RaisedExcitedNatural&mouthType=Twinkle&skinColor=Black'
      />
    </div>
    <h3>Nat Surname</h3>
    <h4>Founder & Personal trainer</h4>
    <p>
      &ldquo;As a professional trainer, my passion is to guide the world towards a healthier lifestyle. Everybody is unique, with their own strengths and limitations.
      My method is to build a custom plan based on your health, schedule and more importantly, fitness goals. My aim is to have your mind and body work in harmony,
      to transform your body and influence you to make more mindful decisions when it comes to your health.&rdquo;
    </p>
    <button class="about-btn">Read More</button>
    </div>

    </div>
    </div>
 <!-- #endregion -->

<!-- #region Service Section -->
<div class="service-con container">
  <div class="border"></div>
  <h1>services</h1>
  <h2>What we can offer</h2>

  <div class="service_cards_container">
    <div class="service-card">
    <div class="card-image">
      <img class="service-image" src="assets/plan.png" alt="card pictures"/>
    </div>
    <div class="card-desc">
      <h1>Exercise Program</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem dolores quia officiis. Atque debitis optio quia ad, ipsam quis consequuntur.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="card-image">
      <img class="service-image" src="assets/diet.png" alt="card pictures"/>
    </div>
    <div class="card-desc">
      <h1>Nutrition & Diet plans</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo provident mollitia facere eos iure, recusandae iste nam optio in minus.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="card-image">
      <img class="service-image" src="assets/cardio-exercises.png" alt="card pictures"/>
    </div>
    <div class="card-desc">
      <h1>Other service</h1>
      <p >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis dicta quasi eaque corrupti nulla! Voluptatibus culpa similique reiciendis ex provident.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="card-image">
      <img class="service-image" src="assets/exercise.png" alt="card pictures"/>
    </div>
    <div class="card-desc">
      <h1>Other service</h1>
      <p >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis dicta quasi eaque corrupti nulla! Voluptatibus culpa similique reiciendis ex provident.
      </p>
    </div>
  </div>

  </div>
</div>
<!-- #endregion -->

<!-- #region Promotion Section -->
<div class="promo-con container">
  <div class="promo-container">
    <div class="promo-text">
      <h2>register now to get more deals!</h2>
      <div class="promo-tips">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, soluta..</div>
      <a href="tab2" class="promo-btn">Register</a>
      </div>
  </div>
  </div>
<!-- #endregion -->

<!-- #region Membership Section -->
<div class="membership-con container">
  <div class="border"></div>
  <h1>Price Plans</h1>
  <p> Find a plan that's right for you <br>Every plan comes with a 30-day free trial.
  </p>

  <div class="wrapper">

		<!-- 	Bronze Card	 -->
		<div class="card">
			<div class="card-banner">
				<p class="plan-tag">Bronze</p>
				<div class="plan-price">
					<h2 class="price">10</h2>
					<p class="price-month">per month</p>
				</div>
			</div>
			<div class="card-body">
				<ul class="plan-feature-list">
					<li class="plan-feature">50gb Data Storage</li>
					<li class="plan-feature">10gb of Local Storage</li>
					<li class="plan-feature">Domain name for 1 year</li>
				</ul>
				<button class="btn">Purchase Plan</button>
			</div>
		</div>


		<!-- 	Most popular card -->
		<div class="card">
			<div class="card-banner">
				<p class="plan-tag highlight">most popular</p>
				<div class="plan-price">
					<h2 class="price">20</h2>
					<p class="price-month">per month</p>
				</div>
			</div>
			<div class="card-body">
				<ul class="plan-feature-list">
					<li class="plan-feature">Unlimited Data Storage</li>
					<li class="plan-feature">10gb of Local Storage</li>
					<li class="plan-feature">Domain name for 1 year</li>
				</ul>
				<button class="btn">Purchase Plan</button>
			</div>
		</div>


		<!-- 	Premium Card -->
		<div class="card">
			<div class="card-banner">
				<p class="plan-tag prem">premium</p>
				<div class="plan-price">
					<h2 class="price">50</h2>
					<p class="price-month">per month</p>
				</div>
			</div>
			<div class="card-body">
				<ul class="plan-feature-list">
					<li class="plan-feature">Unlimited Data Storage</li>
					<li class="plan-feature">100gb of Local Storage</li>
					<li class="plan-feature">Domain name for 5 years</li>
				</ul>
				<button class="btn">Purchase Plan</button>
			</div>
		</div>
	</div>

  </div>
<!-- #endregion -->

<!-- #region Testimonial Section -->
<div class="test-con container">
  <div class="border"></div>
  <h1>Testimonials</h1>
  <app-testimonial></app-testimonial>
  </div>
<!-- #endregion -->

</ion-content>
