<ion-header [translucent]="false">
  <ion-toolbar>

    <ion-title>
      <img src="assets/logo.png" alt="" class="logoImg">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click) = "goToInstagram()">
        <ion-icon slot="start" name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="start" name="logo-snapchat"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- ======= Image Slide Component ======= -->
    <app-carousel></app-carousel>
<!-- ======= End ======= -->


  <!-- ======= About section ======= -->
  <div class="abt-con container">
    <div class="abt-grid">
      <div class="grid-items">
        <div class="border"></div>
       <h1>About us</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Tenetur debitis fuga quia eos, voluptatem error rem eligendi quod quam,
      quis quae voluptates, dolorem pariatur dolore labore consequuntur.
    </p>

    <div class="grid-items">
      <!-- <img class="img-bmf-founder" src="assets/mrBmf.jpeg" alt="Founder & Personal trainer"/> -->
      <img class="img-bmf-founder"src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairShavedSides&accessoriesType=Blank&facialHairType=BeardMajestic&facialHairColor=Red&clotheType=Overall&clotheColor=Black&eyeType=Close&eyebrowType=RaisedExcitedNatural&mouthType=Twinkle&skinColor=Black'
      />
    </div>
    <h3>Nat Surname</h3>
    <h4>Founder & Personal trainer</h4>
    <p>
      "As a professional trainer, my passion is to guide the world towards a healthier lifestyle. Everybody is unique, with their own strengths and limitations.
      My method is to build a custom plan based on your health, schedule and more importantly, fitness goals. My aim is to have your mind and body work in harmony,
      to transform your body and influence you to make more mindful decisions when it comes to your health."
    </p>
    <button class="about-btn">Read More</button>
    </div>

    </div>
    </div>
  <!-- ======= End ======= -->

<!-- ======= Service Section ======= -->
<div class="service-con container">
  <div class="border"></div>
  <h1>services</h1>
  <h2>What we can offer</h2>

  <div class="service_cards_container">
    <div class="service-card">
    <div class="card-image">
      <img class="service-image" src="assets/plan.png" alt="card pictures"/>
    </div>
    <div class="card-desc">
      <h1>Exercise Program</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem dolores quia officiis. Atque debitis optio quia ad, ipsam quis consequuntur.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="card-image">
      <img class="service-image" src="assets/diet.png" alt="card pictures"/>
    </div>
    <div class="card-desc">
      <h1>Nutrition & Diet plans</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo provident mollitia facere eos iure, recusandae iste nam optio in minus.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="card-image">
      <img class="service-image" src="assets/cardio-exercises.png" alt="card pictures"/>
    </div>
    <div class="card-desc">
      <h1>Other service</h1>
      <p >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis dicta quasi eaque corrupti nulla! Voluptatibus culpa similique reiciendis ex provident.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="card-image">
      <img class="service-image" src="assets/exercise.png" alt="card pictures"/>
    </div>
    <div class="card-desc">
      <h1>Other service</h1>
      <p >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis dicta quasi eaque corrupti nulla! Voluptatibus culpa similique reiciendis ex provident.
      </p>
    </div>
  </div>

  </div>
</div>
<!-- ======= End ======= -->

<!-- ======= Promotion Section ======= -->
<div class="promo-con container">
  <div class="promo-container">
    <div class="promo-text">
      <h2>register now to get more deals!</h2>
      <div class="promo-tips">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, soluta..</div>
      <a href="tab2" class="promo-btn">Register</a>
      </div>
  </div>
  </div>
<!-- ======= End ======= -->

<!-- ======= Membership Section ======= -->
<div class="membership-con container">
  <div class="border"></div>
  <h1>Price Plans</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Tenetur debitis fuga quia eos, voluptatem error rem eligendi quod quam,
    quis quae voluptates, dolorem pariatur dolore labore consequuntur.
  </p>

  <div class="price-cards-container">
    <div class="price-card basic">
      <div class="title">
        <h2>Silver Membership</h2>
      </div>
      <div class="price">
        <h4><sup>£</sup>25</h4>
      </div>
      <div class="option">
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> 10 GB Space</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> 3 Domain Names</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> 20 Email Address</li>
          <li><i class="fa fa-times" aria-hidden="true"></i> Live Support</li>
        </ul>
      </div>
      <a class="btn btn-light btn-block" href="https://codepen.io/collection/XdWJOQ/">Order Now</a>
    </div>
    <div class="price-card standard">
      <div class="title">
        <h2>Gold Membership</h2>
      </div>
      <div class="price">
        <h4><sup>£</sup>50</h4>
      </div>
      <div class="option">
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> 50 GB Space</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> 5 Domain Names</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited Email Address</li>
          <li><i class="fa fa-times" aria-hidden="true"></i> Live Support</li>
        </ul>
      </div>
      <a class="btn btn-light btn-block" href="https://codepen.io/collection/XdWJOQ/">Order Now</a>
    </div>
    <div class="price-card premium">
      <div class="title">
        <h2>Premium Membership</h2>
      </div>
      <div class="price">
        <h4><sup>£</sup>100</h4>
      </div>
      <div class="option">
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited GB Space</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> 30 Domain Names</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited Email Address</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Live Support</li>
        </ul>
      </div>
      <a class="btn btn-light btn-block" href="https://codepen.io/collection/XdWJOQ/">Order Now</a>
    </div>
  </div>










  </div>
<!-- ======= End ======= -->

<!-- ======= Testimonial Section ======= -->
<div class="test-con container">
  <div class="border"></div>
  <h1>Testimonials</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Tenetur debitis fuga quia eos, voluptatem error rem eligendi quod quam,
    quis quae voluptates, dolorem pariatur dolore labore consequuntur.
  </p>

  </div>
<!-- ======= End ======= -->

</ion-content>
