//GLOBAL STYLING
*{
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

p{
  color: #f5f5f5;
  font-size: 15px;
}

.container {
  text-align: center;
  background-color: #537895;
  padding: 10px;
}

//HEADER STYLING
ion-toolbar{
  --background: #2C2B2B;
  //padding: 6px;
  height: auto;

  ion-icon{
    font-size: 20px;
    color: #f5f5f5;
  }
}
.logoImg{
  width: 100%;
  max-width: 56px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }


//ABOUT SECTION

.abt-con{
  h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    margin: 5px 0 10px;
  }

  h3{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h4{
    margin: 4px 0 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    color: #a9a9a9;
  }
}

.abt-grid{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.grid-items{
  padding: 10px;
}

.border {
  width: 80px;
  height: 4px;
  background: #f5f5f5;
  margin: 14px auto;
}

.img-bmf-founder{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  top: 15px;
  position: relative;
  background-color: #B6B7BB;
}

.about-btn{
  margin-top: 20px;
  background: #a9a9a9;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  box-shadow: 4px 4px 8px -3px rgb(0 0 0 / 15%);
}

//SERVICE SECTION
.service-con{
  background-color: #f5f5f5;
  color: #2C2B2B;

  .border {
    width: 80px;
    height: 4px;
    background:#2C2B2B;
    margin: 14px auto;
  }

  h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    margin: 5px 0 10px;
  }

  h2{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0 20px;
  }
}

.service_cards_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 50px;
  height: 100%;
  padding: 10px;
  text-align: center;
}
  .service-card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    justify-content: center;
    //box-shadow: 4px 4px 8px -3px rgb(0, 0, 0, 0.15);

    h1{
      color: #2f5b8c;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
    }
    p{
      color: #2C2B2B;
      font-size: 14px;
    }
  }

  .card-image{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px 0 15px 15x;
  }

  .service-image{
    max-width: 20%;
    height: auto;
  }

  //PROMO SECTION
.promo-con{
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%),url("/../assets/pt2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 350px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.promo-container{
padding: 10px;
}

.promo-btn{
  border: 2px solid #2f5b8c;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 15px;
  box-shadow: 4px 4px 8px -3px rgb(0 0 0 / 15%);
}

.promo-text{
color: #FFF;
}
.promo-text h2{
  font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.promo-text .promo-tips{
  font-size: 16px;
  color: rgb(196, 196, 196);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
}

//MEMBERSHIP SECTION
.membership-con{
  h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    margin: 5px 0 10px;
  }
}

.price-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 40px;
  height: 100%;
  padding: 10px;
  text-align: center;
}

.price-card {
  text-align: center;
  position: relative;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: .5s;
  overflow: hidden;
}


.basic,
.basic .title .fa {
  background-color: #22262c;
  //background-image: linear-gradient(315deg, #f3f4f7 0%, #caccd1 74%);
}

.standard,
.standard .title .fa{
  background-color: #f6f6f6;
//background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

.premium,
.premium .title .fa {
  background-color: #f1f2f6;
//background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);

}

.price-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  color: #2C2B2B;
  font-size: 26px;
  z-index: 2;
}

.price {
  position: relative;
  z-index: 2;
}

.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #2C2B2B;
  font-size: 40px;
}

.option {
  position: relative;
  z-index: 2;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.price-card {
  position: relative;
  z-index: 2;
  border-radius: 8px;
  //margin: 30px auto 8px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
  font-weight: bold;
}

//TESTIMONIAL SECTION
.test-con{
  background-color: #f5f5f5;
  color: #2C2B2B;

  .border {
    width: 80px;
    height: 4px;
    background:#2C2B2B;
    margin: 14px auto;
  }
  p{
    color: #2C2B2B;
  }
}
