// #region GLOBAL STYLING
*{
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

p{
  color: #f5f5f5;
  font-size: 15px;
}

h1{
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: bolder;
  font-size: 20px;
  margin: 5px 0 10px;
}

.container {
  text-align: center;
  background-color: #537895;
  padding: 10px;
}

// #endregion

// #region HEADER STYLING
ion-toolbar{
  --background: #2C2B2B;
  //padding: 6px;
  height: auto;

  ion-icon{
    font-size: 20px;
    color: #f5f5f5;
  }
}
.logoImg{
  width: 100%;
  max-width: 56px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

// #endregion

// #region ABOUT SECTION
.abt-con{

  h3{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #f5f5f5;
  }

  h4{
    margin: 4px 0 10px;
    font-size: 11.5px;
    text-transform: uppercase;
    font-style: italic;
    color: #f5f5f5;
  }
}

.abt-grid{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.grid-items{
  padding: 10px;
}

.border {
  width: 80px;
  height: 4px;
  background: #f5f5f5;
  margin: 14px auto;
}

.img-bmf-founder{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  top: 15px;
  position: relative;
  background-color: #B6B7BB;
}

.about-btn{
  margin-top: 20px;
  background: #a9a9a9;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  box-shadow: 4px 4px 8px -3px rgb(0 0 0 / 15%);
}

// #endregion

// #region SERVICE SECTION
.service-con{
  background-color: #f5f5f5;
  color: #2C2B2B;

  .border {
    width: 80px;
    height: 4px;
    background:#2C2B2B;
    margin: 14px auto;
  }

  h1{
    color: #2C2B2B;
  }

  h2{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0 20px;
  }
}

.service_cards_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 50px;
  height: 100%;
  padding: 10px;
  text-align: center;
}
  .service-card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    justify-content: center;

    h1{
      color: #2f5b8c;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
    }
    p{
      color: #2C2B2B;
      font-size: 14px;
    }
  }

  .card-image{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px 0 15px 15x;
  }

  .service-image{
    max-width: 20%;
    height: auto;
  }
// #endregion

// #region PROMO SECTION
.promo-con{
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%),url("/../assets/pt2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 350px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.promo-container{
padding: 10px;
}

.promo-btn{
  border: 2px solid #2f5b8c;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 15px;
  box-shadow: 4px 4px 8px -3px rgb(0 0 0 / 15%);
}

.promo-text{
color: #FFF;
}
.promo-text h2{
  font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.promo-text .promo-tips{
  font-size: 16px;
  color: rgb(196, 196, 196);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
}

// #endregion

// #region MEMBERSHIP SECTION
.price-cards-container {
  height: 100%;
  padding: 10px;
  text-align: center;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background: #f5f5f5;
	border-radius: 0.25rem;
	position: relative;
	min-width: 150px;
	margin: 1rem;
	text-align: center;
}

.card-banner {
	border-bottom: 1px solid #d7dfe2;
	padding: 3rem 0 1rem;

	.plan-tag {
		font-size: 0.7rem;
		font-weight: bold;
		color: #414b56;
		background: #c5ab84;
		padding: 0.5rem 1rem;
		text-transform: uppercase;
		position: absolute;
		z-index: 1;
		top: 1rem;
		left: 1rem;
		border-radius: 0.25rem;
	}

	.highlight {
		color: white;
		background: rgb(85, 148, 196);
	}

  .prem {
		color: #414b56;
		background: #A9A9A9;
	}

	.plan-price {
		display: inline-block;
	}

	.price {
		font-size: 2.5rem;
		position: relative;
		margin-bottom: -0.5rem;
		color: #414b56;
	}

	.price::before {
		content: "£";
		display: inline-block;
		font-size: 20px;
		top: 0.8rem;
		position: absolute;
		text-align: left;
		left: -1.5rem;
	}

	.price-month {
		font-size: 0.9rem;
    color:#414b56;
	}
}

.card-body {
	margin: 2rem 0;

	.plan-feature-list {
		margin: 2rem 4rem;
		list-style: none;
	}

	.plan-feature {
		font-size: 0.8rem;
		margin: 1.5rem 0;
		text-align: left;
	}

	.plan-feature::before {
		font-weight: 900;
		font-size: 1.3rem;
		content: "\2713";
		color: var(--clr-gray-lightmed);
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin-right: 1rem;
	}
}

.btn {
	width: 250px;
	color: #2f5b8c;
	padding: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #2f5b8c;
	background: white;
	border-radius: 0.25rem;
}

// #endregion

// #region TESTIMONIAL SECTION
.test-con{
  background-color: #f5f5f5;
  color: #2C2B2B;

  .border {
    width: 80px;
    height: 4px;
    background:#2C2B2B;
    margin: 14px auto;
  }
  h1{
    color: #2C2B2B;
  }
  p{
    color: #2C2B2B;
  }
}

// #endregion
