<div class="container">
  <h1>Login</h1>
  <div class="form_container">
    <form class="login">
      <div class="login_field">
        <ion-icon class="login_icon" name="person"></ion-icon>
        <input type="text" class="login_input" placeholder="User name / Email">
      </div>
      <div class="login_field">
        <ion-icon class="login_icon" name="lock-closed"></ion-icon>
        <input type="password" class="login_input" placeholder="Password">
      </div>
      <button class="button login_submit">
        <span class="button_text">Login</span>
      </button>
    </form>

    <a href="https://www.google.com/">Forgot password?</a>
  </div>

</div>
